{% extends 'base.html.twig' %}

{% block title %}list!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
   <h1> list des classes </h1>
    <table class="table table-striped" >

        <thead  >

        <th>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td> Action</td>
                <td> Action</td>
                <td> Action</td>

            </tr>
        </th>
        </thead>
        <tbody>
        {% for item in classrooms %}
            <tr>
                <td> {{ item.id  }}</td>
                <td> {{ item.Name  }}</td>
                <td> <a href="{{ path('classroom_update', { 'id' : item.id }) }}" > Update</a></td>
                <td>  <a href="{{ path('classroom_delete', { 'id' : item.id }) }}">Delete</a> </td>
                <td>  <a href="{{ path('get_one_class', { 'id' : item.id }) }}">Details</a> </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
                         <a href="{{ path('add_class')}}" > Ajouter une classe</a>


{% endblock %}
